_square(val)
  width: val
  height: @width

_default-shadow($a = 1)
  box-shadow: 0 3px ($a * 1px) ($a * -2px) rgba(0,0,0, .2), 0 2px ($a * 2px) 0 rgba(0,0,0, .14), 0 1px ($a * 5px) 0 rgba(0,0,0, .12)

_simple-animation()
  transition: arguments
  transition-timing-function: cubic-bezier(.7, 0, .3, 1)

_animation()
  transform: translate3d(arguments)
  transition: transform var(--animation__speed, .5s)
  transition-timing-function: cubic-bezier(.7, 0, .3, 1)

_screen-xs($key, $value)
  @media screen and (max-width: 576px)
    {$key}: $value !important

_screen-sm($key, $value)
  @media screen and (min-width: 577px)
    {$key}: $value !important

_screen-md($key, $value)
  @media screen and (min-width: 768px)
    {$key}: $value !important

_screen-lg($key, $value)
  @media screen and (min-width: 1200px)
    {$key}: $value !important

// NOT:REMOVE