:root
  --animation__speed: .5s
  --color__text--default: #4f4f4f
  --font__line-height: 1.6
  --font__primary: 'Lato', 'Helvetica', 'Arial', sans-serif
  --font__light: 300
  --font__regular: 400
  --font__bold: 700
  --font__size--default: 1.6rem
  --font__size--ref: 62.5%
  --layout__max-width: 1440px
