@require 'defaults'

html
  box-sizing: border-box
  -webkit-text-size-adjust: 100%
  word-break: break-word
  -moz-tab-size: 4
  tab-size: 4
  font-size: var(--font__size--ref)
  height: 100%

*,
::before,
::after
  background-repeat: no-repeat
  box-sizing: inherit

::before,
::after
  text-decoration: inherit
  vertical-align: inherit

*
  padding: 0
  margin: 0

body
  background #F4F4F4
  font-family: var(--font__primary), sans-serif
  font-size:  var(--font__size--default)
  font-weight: var(--font__regular)
  text-rendering: optimizeSpeed
  line-height: var(--font__line-height)
  padding: 0
  height: 100%

a[href]:not([class])
  text-decoration: underline;
  text-decoration-skip-ink: auto
